# Compiler files
cache/
out/
aiUtils/
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
docs/
refs/
utils/
node_modules
.cursor
pdf_images/
pdf_analysis/
pdf_analysis_images/
pdf_analysis_tables/
pdf_analysis_enhanced/
pdf_analysis_text/
pdf_analysis_summary/
pdf_analysis_summary_enhanced/
pdf_analysis_summary_text/
pdf_analysis_summary_tables/
pdf_analysis_summary_enhanced/